@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

/* CSS Variables */
:root {
    --header-height: 4rem !important;

    --primary-color: #1aa7ec;
    /* --secondary-color: #1e2f97; */
    /* --secondary-color: #02198B; */
    --secondary-color: #253da1;
    --light-color: #fdfdfd;
    --dark-color: #171717;
    --grey-color: #dadedf;

    --header-big: 1.5rem !important;
    --header-med: 1.25rem !important;
    --header-small: 1rem !important;

    --font-size-normal: 1.5rem !important;
    --font-size-small: .815rem !important;

    --font-medium: 500;
    --font-semi-bold: 600 !important;

    --border-rad: 1rem;

    --container-width-lg: 70%;
    --container-width-md: 86%;
    --container-width-sm: 90%;
    --container-width-esm: 95%;
}

/* Scroll bar */

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: var(--grey-color);
}

/* BASE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-image: url("https://uploads-ssl.webflow.com/5fcdf795b2087fe04d5cdbc7/61333426a23d7ca2603f3ae1_bg%20web.png");
    background-position: 0px 0px;
    /* height: auto; */
    background-size: 1600px;
    background-repeat: repeat;
}

body.dark {
    /* background-image: url("https://uploads-ssl.webflow.com/5fcdf795b2087fe04d5cdbc7/61361cebf63969271420a4d3_bg%20black.png"); */
    background-image: url("../assets/img/backgroundblakc.png");
    --light-color: #171717;
    --dark-color: #fdfdfd;
    background-position: 0px 0px;
    height: auto;
    background-size: 1600px 1024px;
    background-repeat: repeat;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

button,
input,
textarea {
    font-family: 'Poppins', sans-serif;
    font-size: var(--font-size-normal);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: var(--font-medium);
}

h1 {
    font-size: var(--header-big);
}

h2 {
    font-size: var(--header-med);
}

h3 {
    font-size: var(--header-small);
}

/* Nav Bar */
.container {
    max-width: var(--container-width-lg);
    /* margin: 0 100px; */
    margin: auto;
    /* overflow: hidden; */
}

@media screen and (max-width: 1024px) {
    .container {
        max-width: var(--container-width-md);
    }
}

@media screen and (max-width: 768px) {
    .container {
        max-width: var(--container-width-sm);
    }
}

.header {
    width: 100%;
    /* background-color: var(--light-color); */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.nav-scroll {
    background-color: var(--light-color);
    transition: .6s;
}

.nav {
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 3rem;
}

.nav__logo {
    /* letter-spacing: -0.125rem; */
    position: relative;
    color: var(--secondary-color);
}

.nav__logo h2 {
    font-size: var(--font-size-normal);
}

.nav__logo::after {
    position: absolute;
    border-radius: 50%;
    background-color: var(--primary-color);
    width: .3rem;
    height: .3rem;
    top: 56%;
    right: -.3rem;
    content: '';
}

.nav__menu {
    margin-left: auto;
    transition: .5s;
}

.nav__list {
    display: flex;
}

.nav__item {
    padding: 0 20px;
}

.nav__link {
    font-weight: var(--font-medium);
    transition: .6s;
    color: var(--dark-color);
}

.nav__link:hover {
    color: var(--primary-color);
}

.nav__close {
    position: absolute;
    top: 1rem;
    right: 1.25rem;
    cursor: pointer;
    color: var(--secondary-color);
}

.nav__btn {
    display: inline-flex;
    align-items: center;
    /* padding: 1rem; */
}

.bx-sun {
    color: var(--secondary-color);
    font-size: var(--font-size-normal);
    cursor: pointer;
}

.bx-moon {
    color: var(--secondary-color);
    font-size: var(--font-size-normal);
    cursor: pointer;
}

.nav__toggle {
    padding: 0 0 0 1.2rem;
}

.nav__toggle,
.nav__close {
    color: var(--secondary-color);
    display: none;
    font-size: var(--font-size-normal);
    cursor: pointer;
}

/* NAVBAR RESPONSIVE */
@media screen and (max-width: 768px) {
    .nav {
        height: var(--header-height);
    }

    .nav__list {
        flex-direction: column;
        row-gap: 1.5rem;
        z-index: 100;
    }

    .nav__menu {
        position: fixed;
        background: var(--light-color);
        width: 90%;
        height: 650px;
        right: -100%;
        top: 0;
        padding: 4rem 0 0 3rem;
        z-index: 100;
    }

    .nav__item{
        padding: 20px 10px;
    }

    .menu__clicked {
        right: 0;
    }

    .nav__toggle,
    .nav__close {
        display: inline-flex;
    }
}

/* Home */
.home__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home__social {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}

.home__social a {
    font-size: 1.75rem;
    padding: 12px 0;
    color: var(--secondary-color);
    transition: 1s;
}

.home__social a:hover {
    color: var(--primary-color);
}

.home__intro {
    margin-right: 40px;
}

.home__intro h5 {
    font-size: 1rem;
    color: var(--dark-color);
}

.home__intro h1 {
    color: var(--dark-color);
    font-size: 2.5rem;
    margin: 10px 0;
}

.home__intro h4 {
    color: var(--dark-color);
    font-size: 1.25rem;
    margin-bottom: 30px;
}

.home__intro a {
    font-size: 1rem;
    color: var(--light-color);
    transition: .5s;
    padding: 16px 21px;
    background-color: var(--primary-color);
}

.home__intro a:hover {
    border: 3px solid var(--primary-color);
    background-color: var(--light-color);
    color: var(--primary-color);
}

.home__img {
    max-width: 400px;
    display: flex;
}

.home__img img {
    animation: up-down 3s infinite;
}

@keyframes up-down {

    0%,
    100% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(0, 20px)
    }
}

/* Responsive Home */
@media screen and (max-width: 1024px) {
    .home__social {
        display: none;
    }

    .home__intro h1 {
        font-size: 2rem;
    }

    .home__intro h4 {
        font-size: 1.5rem;
    }

    .home__intro h5 {
        font-size: 1.25rem;
    }

    .home__img {
        width: 400px;
    }
}

@media screen and (max-width:768px) {
    .home__container {
        flex-direction: column;
    }

    .home__intro {
        order: 2;
        text-align: center;
        margin-right: 0;
    }

    .home__intro h1 {
        font-size: 1.5rem;
    }

    .home__intro h4,
    h5 {
        font-size: 1rem;
    }

    .home__intro a {
        font-size: .815rem;
        /* position: absolute; */
    }

    .home__img {
        order: 1;
        width: 250px;
    }
}

/* About Me */
.about {
    margin-top: 80px;
}

.about__container {
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
}

.about__header {
    color: var(--dark-color);
    font-size: 2.5rem;
    margin-bottom: 2rem;
    /* position: relative; */
}

/* .about__header::after {
    position: absolute;
    background-color: var(--primary-color);
    width: 100px;
    height: 4px;
    top: 100%;
    left: 0;
    margin-top: 6px;
    content: '';
} */

.about__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about__img {
    max-width: 400px;
    margin: 0 30px;
    border-radius: 1rem;
    background: linear-gradient(45deg, transparent, var(--primary-color), transparent);
    display: grid;
    place-items: center;
    transition: .7s;
    border-radius: 1rem;
    /* position: relative; */
}

.about__img img {
    transform: rotate(-10deg);
    transition: .7s;
    width: 400px;
    border-radius: var(--border-rad);
}

.about__img img:hover {
    transform: rotate(0deg);
}

.about__text {
    max-width: 500px;
}

.about__text p {
    color: var(--dark-color);
    font-size: 1rem;
    line-height: 2.2rem;
    text-align: justify;
    margin-bottom: 30px;
}

.about__text a {
    font-size: 1rem;
    color: var(--light-color);
    transition: .5s;
    padding: 16px 21px;
    background-color: var(--primary-color);
}

.about__text a:hover {
    border: 3px solid var(--primary-color);
    background-color: var(--light-color);
    color: var(--primary-color);
}

/* Responsive About */
@media screen and (max-width: 1024px) {
    .about__header {
        text-align: center;
    }

    .about__img {
        width: 350px;
    }

    .about__img img {
        width: 350px;
    }

    .about__text{
        max-width: 450px;
    }

    .about__text p {
        font-size: 1rem;
        line-height: 2rem;
    }
}

@media screen and (max-width: 768px) {
    .about__header {
        text-align: center;
    }

    .about__content {
        flex-direction: column;
    }

    .about__img {
        margin-bottom: 30px;
        width: 300px;
    }

    .about__text p {
        line-height: 2rem;
    }

    .about__text a {
        font-size: .815rem;
    }
}

@media screen and (max-width: 426px) {
    .about__img{
        width: 200px;
    }
}
/* Portfolio*/
.portfolio {
    margin-top: 80px;
}

.port__container {
    display: flex;
    flex-direction: column;
}

.port__header {
    color: var(--dark-color);
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
    position: relative;
}

/* .port__header::after {
    position: absolute;
    background-color: var(--primary-color);
    width: 100px;
    height: 4px;
    top: 100%;
    left: 0;
    margin-top: 6px;
    content: '';
} */

.port__content {
    display: flex;
    flex-wrap: wrap;
}

.port__card {
    margin-bottom: 20px;
    border: 1px solid var(--grey-color);
    transition: .6s;
    cursor: pointer;
    display: flex;
}

.port__card:hover {
    transform: translateY(-10px);
}

.port__card a {
   max-width: 800px;
}

.port__detail {
    margin: 20px;
}

.port__detail h4 {
    font-size: 2rem;
    color: var(--dark-color);
}

.port__detail p {
    font-size: .815rem;
    color: var(--dark-color);
}

/* Responsive Portfolio */
@media screen and (max-width: 1024px) {
    .port__header {
        text-align: center;
    }

    .port__content {
        justify-content: center;
    }

    .port__card {
        flex-direction: column;
    }
}

/* Contact */
.contact {
    /* min-height: 80vh; */
    position: relative;
    margin-top: 80px;
    margin-bottom: 20px;
}

.contact .contact__container {
    display: flex;
    flex-direction: column;
}

.contact__header {
    color: var(--dark-color);
    font-size: 2.5rem;
    margin-bottom: 2rem;
    position: relative;
}

/* .contact__header::after {
    position: absolute;
    background-color: var(--primary-color);
    width: 100px;
    height: 4px;
    top: 100%;
    left: 0;
    margin-top: 6px;
    content: '';
} */

.contact__content {
    display: flex;
    justify-content: space-between;
}

.container .contact__content .left-side {
    width: 70%;
}

.contact__content .left-side p {
    font-size: 1.25rem;
    color: var(--dark-color);
}

.left-side .input-box {
    height: 60px;
    width: 100%;
    margin: 20px 0;
}

.left-side .input-box input,
.left-side .input-box textarea {
    height: 100%;
    width: 100%;
    border: 2px solid var(--grey-color);
    outline: none;
    font-size: 16px;
    background: var(--light-color);
    padding: 0 15px;
    resize: none;
}

.left-side .message-box {
    min-height: 120px;
}

.left-side .input-box textarea {
    padding-top: 15px;
}

.left-side .button {
    display: inline-block;
    margin-top: 12px;
}

.left-side .button input[type="button"] {
    color: var(--light-color);
    font-size: 16px;
    outline: none;
    border: none;
    padding: 16px 21px;
    /* border-radius: 6px; */
    background: var(--primary-color);
    cursor: pointer;
    transition: all 0.6s;
}

.button input[type="button"]:hover {
    background: var(--light-color);
    color: var(--primary-color);
    border: 3px solid var(--primary-color);
}

.right-side {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 67px;
    margin-left: 20px;
}

.contact__content .right-side .details {
    text-align: center;
    border: 2px solid var(--grey-color);
    width: 100%;
    padding: 20px;
}

.contact__content .right-side .details i {
    font-size: 30px;
    color: var(--primary-color);
    margin-bottom: 10px;
}

.contact__content .right-side .details .topic {
    color: var(--dark-color);
    font-size: 18px;
    font-weight: 500;
}

.contact__content .right-side .details .text-one {
    font-size: 14px;
    color: var(--dark-color);
}

.contact__content .right-side .details {
    margin: 14px;
    text-align: center;
}

/* Responsive Contact */
@media screen and (max-width: 768px){
    .right-side{
        display: none;
    }
    .container .contact__content .left-side {
        width: 100%;
    }
    .left-side .button input[type="button"]{
        font-size: .815rem;
    }
    .contact__content .left-side p{
        font-size: 1rem;
    }
}

/* Footer */
.footer {
    min-height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
}

.footer__header {
    color: var(--light-color);
}

/* Responsive Footer */
@media screen and (max-width: 768px){
    .footer__header{
        font-size: .815rem;
        text-align:center;
    }
}